<ion-view title="Categories">

	
 <ion-content class="has-header">

	<div class="list">
 		 <div class="item item-input-inset">
    		<label class="item item-input item-input-wrapper">
      			<i class="icon ion-search placeholder-icon"></i>
     		 	<input type="text" ng-model="searchCateg.category" placeholder="Search" style="padding-right:20%;"></input> 
    		</label>
    		<button ng-click="addNewCategory()" class="button button-positive ion-plus"></button>
  		</div>
	</div>
	<ion-scroll delegate-handle="taskScroll" direction="y">
		<ion-list>
      		<ion-item ng-repeat="categ in categories | filter:searchCateg.category track by $index" type="item-text-wrap" ng-click="setCategory(categ)">
       	 		<h3>{{categ}}</h3>
      		</ion-item>
    	</ion-list>
     </ion-scroll>
  </ion-content>
</ion-view>