<ion-modal-view >
	
	<div class="modal" style="padding:5px !important;">
	
      <div class="bar bar-header bar-balanced">
  		<h1 class="title">Confirm</h1> 
	  </div>
   
      <div class="got-header">   
	      <div class="list">
	      	<!-- <div class="item"> -->
	      		<p style="margin : 10px;">Do you really want to go ahead and create a new <b>Note</b></p>
	      	<!-- </div> -->
	      	<div class="row">
	      		<div class="col col-50">
	      			<button class="button button-positive"  ng-click="modal3.hide()">No</button>
	      		</div>
	      		<div class="col col-50">
	      			<div class="right-button">
	      				<button class="button button-positive"  ng-click="createNote()">Yes</button>
	      			</div>	
	      		</div>
	      	</div>
	        
	      </div>
	      
      </div>
    </div>
    
  </ion-modal-view>