<ion-modal-view >
	
	<div class="modal" style="padding:5px !important;">
	
      <div class="bar bar-header bar-assertive">
  		<h1 class="title">Required</h1> 
	  </div>
   
      <div class="got-header">   
	      <div class="list">
	        <p style="margin : 10px;">Need a <b>title</b> for your MemNote. Please add a title and go ahead !</p>
	      </div>
	      <div class="right-button ">
	      	<button class="button button-positive"  ng-click="modal1.hide()">OK</button>
	      </div>
      </div>
    </div>
    
  </ion-modal-view>