<ion-modal-view >
	
	<div class="modal" style="padding:5px !important;">
	
      <div class="bar bar-header bar-assertive">
  		<h1 class="title">Confirm</h1> 
	  </div>
   
      <div class="got-header">   
	      <div class="list">
	      	<!-- <div class="item"> -->
	      		<p style="margin : 10px;">Deleting this <b>category</b> will remove all the notes that have been associated with the category. Do you still want to continue ?</p>
	      	<!-- </div> -->
	      	<div class="row">
	      		<div class="col col-50">
	      			<button class="button button-positive"  ng-click="modal7.hide()">No</button>
	      		</div>
	      		<div class="col col-50">
	      			<div class="right-button">
	      				<button class="button button-positive"  ng-click="deleteCategory()">Yes</button>
	      			</div>	
	      		</div>
	      	</div>
	        
	      </div>
	      
      </div>
    </div>
    
  </ion-modal-view>